body {
    margin: 0;
    background: darkgray;
    overflow: hidden;
    text-align: center;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0; 
}

.selectContainer {
    display: flex;
    justify-content: center;
    margin: 0;
}

#info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; 
}